body{
    background-image: url('../images/37863627-math-wallpaper.jpg');
    color: darkred;
    font-weight: bolder;
}

.container{
    margin: 0 200px 0 auto;
    text-align: center;
}

.question{
    margin: 35px 0;
    background-color: black;
    color: white;
    display: inline-block;
}

input[type="radio"]{
    margin-left: 15px;
}

.header-area{
    display: inline-block;
    background: black;
}

#timer{
    margin-top: 30px;
}

.score{
    float: right;
    background: black;
}